## import pandas as pd

In [3]:
from collections import OrderedDict

In [4]:
import numpy as np

In [5]:
table = OrderedDict((
    ("Item", ['Item0', 'Item0', 'Item1', 'Item1']),
    ('CType', ['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  ['1$', '2$', '3$', '4$']),
    ('EU',   ['1€', '2€', '3€', '4€'])
))

In [6]:
table

OrderedDict([('Item', ['Item0', 'Item0', 'Item1', 'Item1']),
             ('CType', ['Gold', 'Bronze', 'Gold', 'Silver']),
             ('USD', ['1$', '2$', '3$', '4$']),
             ('EU', ['1€', '2€', '3€', '4€'])])

In [7]:
df = pd.DataFrame(table)

In [8]:
df

    Item   CType USD  EU
0  Item0    Gold  1$  1€
1  Item0  Bronze  2$  2€
2  Item1    Gold  3$  3€
3  Item1  Silver  4$  4€

In [10]:
p = df.pivot(index='Item', columns='CType', values='EU')

In [11]:
p

CType Bronze Gold Silver
Item
Item0     2€   1€    NaN
Item1    NaN   3€     4€

In [12]:
df

    Item   CType USD  EU
0  Item0    Gold  1$  1€
1  Item0  Bronze  2$  2€
2  Item1    Gold  3$  3€
3  Item1  Silver  4$  4€

In [14]:
pd.pivot(data=df, index='Item', columns='CType', values='EU')

CType Bronze Gold Silver
Item
Item0     2€   1€    NaN
Item1    NaN   3€     4€

In [15]:
pd.pivot(data=df, index='Item', columns='CType', values='USD')

CType Bronze Gold Silver
Item
Item0     2$   1$    NaN
Item1    NaN   3$     4$

In [16]:
pd.pivot(data=df, index='CType', columns='Item', values='EU')

Item   Item0 Item1
CType
Bronze    2€   NaN
Gold      1€    3€
Silver   NaN    4€

In [17]:
pd.pivot(data=df, index='Item', columns='CType')

         USD                 EU
CType Bronze Gold Silver Bronze Gold Silver
Item
Item0     2$   1$    NaN     2€   1€    NaN
Item1    NaN   3$     4$    NaN   3€     4€

In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt

In [3]:
plt.style.use('ggplot')

In [4]:
x = ['Nuclear', 'Hydro', 'Gas', 'Oil', 'Coal', 'Biofuel']
energy = [5, 6, 15, 22, 24, 8]