In [ ]:
## The article related to this file is available at "https://www.analyticsvidhya.com/blog/2018/07/hands-on-sentiment-analysis-dataset-python/"

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
#reading the test and training from the csv files 
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test_tweets.csv')

In [4]:
train_df.shape

(31962, 3)

In [4]:
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [5]:
train_df['source'] = 'train'
test_df['source'] = 'test'

In [6]:
twit = pd.concat([train_df, test_df], sort=False, ignore_index=True)

In [8]:
twit.shape

(49159, 4)

In [9]:
# Removing @user from the 'tweet' variable as these twitter handles are masked by twitter and hence are of no use

In [10]:
twit['tidy_tweets'] = twit['tweet'].str.replace("@[\w]*", " ")

In [11]:
twit.head()

,id,label,tweet,source,tidy_tweets
0,1,0.0,@user when a father is dysfunctional and is s...,train,when a father is dysfunctional and is so se...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,train,thanks for #lyft credit i can't use cause ...
2,3,0.0,bihday your majesty,train,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,train,#model i love u take with u all the time in ...
4,5,0.0,factsguide: society now #motivation,train,factsguide: society now #motivation

In [13]:
# Removing Punctuations, numbers and special characters from 'tweet'

In [31]:
def remove_puncnumsc(input_text, pattern):
    r = re.findall(pattern, input_text)
    for i in r:
        input_text = re.sub(i, '', input_text)
    return input_text

In [39]:
r = re.findall("[^a-zA-Zall]", "#model   i love u take with u all the time in urð±!!!")

In [40]:
for i in r:
    print(i)
    x = re.sub(i, ' ',"#model   i love u take with u all the time in urð±!!!")
    print(x)

#
 model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!

#model   i love u take with u all the time in urð±!!!
ð
#model   i love u take with u all the time in ur ±!!!

#model   i love u take with u all the time in urð ±!!!

#model   i love u take with u all the time in urð ±!!!
±
#model   i love u take with u all the time in urð !!!
!
#model   i love u take with u all the time in urð±
!
#model   i love u take with u all the time in urð±
!
#model   i love u take with u all the time in urð±

In [27]:
twit['tidy_usingfunc'] = twit['tidy_tweets'].str.replace("[^a-zA-Z#]", " ")

In [28]:
twit.head()

,id,label,tweet,source,tidy_tweets,tidy_usingfunc
0,1,0.0,@user when a father is dysfunctional and is s...,train,when a father is dysfunctional and is so se...,when a father is dysfunctional and is so se...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,train,thanks for #lyft credit i can't use cause ...,thanks for #lyft credit i can t use cause ...
2,3,0.0,bihday your majesty,train,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,train,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0.0,factsguide: society now #motivation,train,factsguide: society now #motivation,factsguide society now #motivation

In [30]:
# twit['tidy_usingfunc'] = np.vectorize(remove_puncnumsc)(twit['tidy_tweets'], "[^a-zA-Z#]")

In [29]:
twit.head()

,id,label,tweet,source,tidy_tweets,tidy_usingfunc
0,1,0.0,@user when a father is dysfunctional and is s...,train,when a father is dysfunctional and is so se...,when a father is dysfunctional and is so se...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,train,thanks for #lyft credit i can't use cause ...,thanks for #lyft credit i can t use cause ...
2,3,0.0,bihday your majesty,train,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,train,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0.0,factsguide: society now #motivation,train,factsguide: society now #motivation,factsguide society now #motivation