In [3]:
%matplotlib inline

In [4]:
import pandas as pd

In [5]:
import nltk

In [6]:
import re

In [7]:
import numpy as np

In [8]:
!ls

test_tweets.csv  the_twitter_project.ipynb  train.csv

In [9]:
train = pd.read_csv('train.csv')

In [10]:
test_tweets = pd.read_csv('test_tweets.csv')

In [11]:
tweets = pd.concat([train, test_tweets], ignore_index=True, sort=False)

In [12]:
tweets.isnull().sum()

id           0
label    17197
tweet        0
dtype: int64

In [13]:
def remove_pattern(input_txt, pattern):
    r  = re.findall(pattern, input_txt)
    for obj in r:
        input_txt = re.sub(obj, '', input_txt)
    return input_txt

In [14]:
tweets['clean_tweets'] = np.vectorize(remove_pattern)(tweets['tweet'], "@[\w]*")

tweets.head()

In [15]:
# Removing punctuations, special characters, numbers

In [17]:
tweets['clean_tweets'] = tweets['clean_tweets'].str.replace("[^a-zA-Z#]", " ")

In [18]:
tweets.head()

,id,label,tweet,clean_tweets
0,1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can t use cause th...
2,3,0.0,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0.0,factsguide: society now #motivation,factsguide society now #motivation